# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
a
.vscode/settings.json
.vscode/launch.json
.settings/language.settings.xml
.vscode/tasks.json
first(1d linear convection)
linear_convection_1d/output
linear_convection_1d/output
*.txt
heat1d/output
heat1d/rk3
heat1d/rk4
*.pdf
linear_convection_1d/.ipynb_checkpoints/Stabiliy analysis-checkpoint.ipynb
*.json
*.json
linear_convection_1d/runlw0
*.ps
linear_convection_1d_limiter_functions/output
linear_convection_1d_limiter_functions/runfoup
linear_convection_1d_limiter_functions/runsoup_rk2
linear_convection_1d_limiter_functions/runsoup_rk2_minmod
linear_convection_1d_limiter_functions/runsoup_rk3
linear_convection_1d_limiter_functions/runsoup_rk3_superbee
linear_convection_1d_limiter_functions/runsoup_rk3_minmod
heat1d/ftcs
.ipynb_checkpoints/soup-checkpoint.ipynb
back_lw/backward_lw
linear_convection_1d_limiter_functions/file.ipynb
linear_convection_1d_limiter_functions/limiter
soup.ipynb
linear_convection_1d_limiter_functions/animate_all.gnu
linear_convection_1d_limiter_functions/all_limiters.png
linear_convection_1d_limiter_functions/__pycache__/ic.cpython-38.pyc
linear_convection_1d_limiter_functions/.makefile.swp
linear_convection_1d/rk3_stab.py
linear_convection_1d/Figure_1.png
linear_convection_1d/rk3_stab.py
