# Prerequisites
*.d


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

a
.vscode/settings.json
.vscode/launch.json
.settings/language.settings.xml
.vscode/tasks.json
first(1d linear convection)
linear_convection_1d/output
linear_convection_1d/output
*.txt
heat1d/output
heat1d/rk3
heat1d/rk4
*.pdf
linear_convection_1d/.ipynb_checkpoints/Stabiliy analysis-checkpoint.ipynb
*.json
*.json
linear_convection_1d/runlw0
*.ps
linear_convection_1d_limiter_functions/output
linear_convection_1d_limiter_functions/runfoup
linear_convection_1d_limiter_functions/runsoup_rk2
linear_convection_1d_limiter_functions/runsoup_rk2_minmod
linear_convection_1d_limiter_functions/runsoup_rk3
linear_convection_1d_limiter_functions/runsoup_rk3_superbee
linear_convection_1d_limiter_functions/runsoup_rk3_minmod
heat1d/ftcs
.ipynb_checkpoints/soup-checkpoint.ipynb
back_lw/backward_lw
linear_convection_1d_limiter_functions/file.ipynb
linear_convection_1d_limiter_functions/limiter
soup.ipynb
linear_convection_1d_limiter_functions/animate_all.gnu
linear_convection_1d_limiter_functions/all_limiters.png
linear_convection_1d_limiter_functions/__pycache__/ic.cpython-38.pyc
linear_convection_1d_limiter_functions/.makefile.swp
linear_convection_1d/rk3_stab.py
linear_convection_1d/Figure_1.png
linear_convection_1d/rk3_stab.py
linear_convection_1d/rk3_stab.py
linear_convection_1d/rk3_stab.py
linear_convection_1d/rk3_stab.py
back_lw/anim.gnu
back_lw/fourier_transform.py
back_lw/high_frequency.ipynb
back_lw/high_frequency_packet.py
bvp2d/bvp2d/annular_grid.py
bvp2d/bvp2d/slides/1dbvp.aux
bvp2d/bvp2d/slides/1dbvp.log
bvp2d/bvp2d/slides/1dbvp.nav
bvp2d/bvp2d/slides/1dbvp.snm
bvp2d/bvp2d/slides/1dbvp.tex
bvp2d/bvp2d/slides/1dbvp.toc
bvp2d/bvp2d/slides/aliases.sty
bvp2d/bvp2d/slides/sparse_matrix.aux
bvp2d/bvp2d/slides/sparse_matrix.log
bvp2d/bvp2d/slides/sparse_matrix.nav
bvp2d/bvp2d/slides/sparse_matrix.snm
bvp2d/bvp2d/slides/sparse_matrix.synctex.gz
bvp2d/bvp2d/slides/sparse_matrix.tex
bvp2d/bvp2d/slides/sparse_matrix.toc
bvp2d/bvp2d/slides/sparse_matrix.vrb
bvp2d/bvp2d/slides/tifr.png
bvp2d/bvp2d/step-01/array2d.cc
bvp2d/bvp2d/step-01/array2d.h
bvp2d/bvp2d/step-01/contour.gnu
bvp2d/bvp2d/step-01/poisson1.cc
bvp2d/bvp2d/step-01/poisson2.cc
bvp2d/bvp2d/step-01/README.md
bvp2d/bvp2d/step-01/splot.gnu
bvp2d/bvp2d/step-02/cg_solver.cc
bvp2d/bvp2d/step-02/cg_solver.h
bvp2d/bvp2d/step-02/contour.gnu
bvp2d/bvp2d/step-02/jacobi_solver.cc
bvp2d/bvp2d/step-02/jacobi_solver.h
bvp2d/bvp2d/step-02/linsol_test.cc
bvp2d/bvp2d/step-02/linsol_test_2d.cc
bvp2d/bvp2d/step-02/makefile
bvp2d/bvp2d/step-02/math_functions.h
bvp2d/bvp2d/step-02/plot.gnu
bvp2d/bvp2d/step-02/sor_solver.cc
bvp2d/bvp2d/step-02/sor_solver.h
bvp2d/bvp2d/step-02/sparse_matrix.cc
bvp2d/bvp2d/step-02/sparse_matrix.h
bvp2d/bvp2d/step-02/sparse_test.cc
bvp2d/bvp2d/step-02/splot.gnu
bvp2d/bvp2d/step-02/ssor_solver.cc
bvp2d/bvp2d/step-02/ssor_solver.h
bvp2d/bvp2d/step-02/Vector.cc
bvp2d/bvp2d/step-02/Vector.h
*.vtk
fd2d/output
fd2d/output
fd2d_var_coeff/output
fd2d/output
fd2d/output
fd2d_var_coeff/output
bvp2d/bvp2d/slides/sparse_matrix.out
fd2d(makefile_error)/array2d.o
bvp2d/bvp2d/slides/1dbvp.out
fd2d(makefile_error)/main.o
*.o
fd2d_var_coeff/output
fd2d/output
fd2d/output
include/test.cc
fd2d_var_coeff/output
fd2d/output
fd2d_var_coeff/output
fd2d/output
.cproject
fv2d_dirichlet/rm
fv2d_var_coeff/rm
Test/output
fv2d_dirichlet/fv2d_dirichlet
fv2d_var_coeff/fv2d_var_coeff
include(old_backup)/output
fv2d_dirichlet/debug.ipynb
fv2d_dirichlet/.ipynb_checkpoints/debug-checkpoint.ipynb
fv2d/output
fd2d_var_coefficients/rm
fd2d_var_coefficients/output
fd2d_var_coeff/output
fd2d/output
fd2d/fd2d
bvp2d/bvp2d/step-01/makefile
buckley_leverett/.vscode/.ropeproject/config.py
buckley_leverett/.vscode/.ropeproject/objectdb
fd2d/output
fd2d_var_coeff/output
